<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <h1>register for Blockverse</h1>
    <form action="/register" method="post">
        <label for="email">leader_email</label>
        <input type="text" name="username">
        <br>
        <label for="leader_name">leader_name</label>
        <input type="text" name="leader_name" >
        <br>
        
        <label for="profile_photo_url">profile_photo_url</label>
        <input type="text" name="profile_photo_url" >
        <br>
        <label for="member_name">member_name</label>
        <input type="text" name="member_name" >
        <br>
        <label for="member_email">member_email</label>
        <input type="text" name="member_email">
        <br>
        <label for="password">Password</label>
        <input type="text" name="password">
        <br>
        <button  type="submit">
           submit
          </button>
    </form>
    <hr>
    <h3>OR</h3>
    <a href="auth/google">signin with google</a>
</body>
</html>