<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Verification</title>
</head>
<body>
    <h1>Payment Verification Details</h1>
    <p>Status: <%= paymentStatus %></p>
    <p>Order ID: <%= razorpay_order_id %></p>
    <p>Payment ID: <%= razorpay_payment_id %></p>
    <p>Signature: <%= razorpay_signature %></p>
    <br><br> 
    

    <form action="/blockverse" method="get">
        <button  type="submit">
            go back to main page
           </button>
    </form>


    <% if (paid) { %>
       
        <script>
            alert('Payment successful!'); 
            
        </script>
      <% }  %>
      
</body>
</html>
